/**
 * Generic Styling
*/

*  {
  box-sizing: border-box;
  // border:solid red 1px;
}

body {
  background: rgb(122, 122, 122);
  // min-height: 100vh;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 200;
  line-height: 1.0em;
  max-width: 40rem;
  margin: 0 auto;
  font-size: 112%;
}

h2{margin:.5rem}

.header {
  background-color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
  // font-size: 2rem;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
  // height: 6rem;
}

img {
  float: left;
  margin:10px 20px 10px 0px;
}

.footer {
  background-color: #fff;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin: .2rem 0;
  border-radius: 0 0 10px 10px ;
  display: flex;
  justify-content: space-between;
}
 
@import '_tab1.scss' ;
