/**
 * Generic Styling
*/

*  {
  box-sizing: border-box;
}

body {
  background: #ccc;
  // min-height: 100vh;
	box-sizing: border-box;
	padding-top: 10vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  line-height: 1.5;
  max-width: 40rem;
  margin: 0 auto;
  font-size: 112%;
}

h2{margin: .5rem;
padding: 0px;}
/* Style the header */
.header {
  background-color: #fff;
  padding: 0px;
  text-align: center;
  // font-size: 2rem;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
  // height: 6rem;
}



.footer {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: .2rem;
}

@import '_tab1.scss';
